  @font-face {
    font-family: "Sohne";
    src: url("./fonts/sohne-400-normal.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Sohne";
    src: url("./fonts/sohne-500-normal.woff") format("woff");
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Sohne";
    src: url("./fonts/sohne-700-normal.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "source-code-pro";
    src: url("./fonts/source-code-pro-400-normal.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "source-serif-pro";
    src: url("./fonts/source-serif-pro-400-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "source-serif-pro";
    src: url("./fonts/source-serif-pro-400-normal.woff") format("woff");
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "source-serif-pro";
    src: url("./fonts/source-serif-pro-700-normal.woff") format("woff");
    font-weight: 700;
    font-style: normal;
  }
  
  .font-custom {
    font-family: "Sohne", sans-serif;
  }

  .font-post-body {
    font-family: "source-serif-pro", Georgia, Cambria, "Times New Roman", Times, serif;
  }